= form_tag login_path do
  .form-group
    = text_field_tag :email, 'email', class: "form-control", placeholder: "email"
  .form-group
    = text_field_tag :password, 'password', class: "form-control", placeholder: "password"
  .form-group
    = submit_tag 'Login', class: "form-control button-submit"
