= form_for [@recipe.user, @recipe, @direction] do |f|
  .form-group
    = f.text_field :description, class: 'form-control', placeholder: 'direction'
  .form-group
    = f.submit 'add direction', class: "form-control button-submit"
