= form_for user_recipe_directions_path(@recipe.user, @recipe) do |f|
  .form-group
    = f.text_field :description, class: 'form-control', placeholder: 'description'
  .form-group
    = f.submit 'add direction', class: "form-control button-submit"
