= form_for [@recipe.user, @recipe, @ingredient] do |f|
  .form-group
    = f.text_field :name, class: 'form-control', placeholder: 'name'
  .form-group
    = f.number_field :amount, class: 'form-control', placeholder: 'amount'
  .form-group
    = f.submit 'add ingredient', class: "form-control button-submit"
