body
  background-color: $ltgray
  width: 100%

.wrapper
  background-color: white
  margin: 35px
  min-height: 800px

.navbar
  margin-right: 20px

.navbar-nav
  float: right
  padding: 20px 30px
  font-family: $header_font
  font-size: 16px
  font-weight: bold

.navbar-nav:hover
  color: $dkblue
  background-color: $yellow

.main h1
  margin: 50px
  clear: both
  padding: 50px

.main img
  margin: 0
  padding: 0

.form-control
  border-radius: 0
  border: 1px solid #ddd

.flash
  margin-left: 50px
  margin-top: 20px
  display: inline-block

.form-group
  width: 50%
  margin-right: auto
  margin-left: auto
