body
  background-color: $ltgray
  width: 100%

.wrapper
  background-color: white
  margin: 25px

.log
  float: right
  margin: 5px 15px

.admin
  float: right
  margin-right: 15px
  margin-top: 5px

.main
  margin: 50px
  clear: both
