%div.footer-color
  %div.row
    %div{class:"col-md-2 col-md-offset-2"}
      %ul{ class: "footer-links" }
        %li.footer-link{ href: "/about" } about
        %li.footer-link{ href: "/contact" } contact
        %li.footer-link{ href: "#" } twitter

    %div.col-md-4
      %p.text-center
        made by
        %a{ class: "footer-link", href: "http://lucyconklin.com", target: "blank"} Lucy Conklin
        2016
